/* overall */

body {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #1f1f1f;
}
#body-a {
    width: 100%;
    height: 1000vh;
    background: #fff;
    z-index: 99999;
    padding-top: 125px;
}
#body-a h2 {
    position: fixed;
    top: 150px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
#body-a p {
    position: fixed;
    top: 200px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
input:focus, select:focus, textarea:focus, button:focus {
    outline: none !important;
}
[contenteditable="true"]:focus {
    outline: none !important;
}
*:focus {
    outline: none !important;
}
h2 {
    font-weight: 300;
}
.title-desc {
  font-size: .6em;
}
.container-main {
    width: 1200px;
    margin: 105px auto 0;
    padding: 0;
    overflow: visible;
}
.visual {
    width: 1200px;
    float: left;
    overflow: visible;
    padding: 0px 0px 15px 0px;
    margin: 0px 0px 25px 0px;
    border-bottom: 1px solid #e8e8e8;
}

/* visuals layout */

.visual-desc {
    width: 250px;
    float: left;
    padding-right: 25px;
}
.visual-main {
    width: 950px;
    float: left;
}

/* menu bar */

.container-menu {
    /*width: 1200px;*/
    margin: 0 auto 0;
    padding: 0;
}
.noUi-connect {
    background: #CFCFCF;
}
.navbar-custom {
    border: none;
    z-index: 9999;
    /*box-shadow: 0px 0px 20px #f5f5f5;*/
}
.navbar-two {
    top: 50px;
    min-height: inherit;
    background: #3c3c3c;
    box-shadow: 0px 0px 20px #f5f5f5;
    border-top: 1px solid #fff;
}
.navbar-nav-two {
    width: 100%;
    text-align: center;
}
.navbar-nav-two > li {
    float: none;
    margin: 0px 10px 0px 10px;
    display: inline-block;
}
.navbar-nav-two > li > a {
    padding-top: 7px !important;
    padding-bottom: 7px !important;
    color: #fff !important;
    font-weight: 300;
    font-size: .9em;
    cursor: pointer;
}
.navbar-nav-two li:hover {
    background: #606060;
}
.navbar-right {
    margin-right: 0px !important;
}

/* small multiples */

.smallmultiple {
    width: 315px;
    height: 250px;
    float: left;
}
.smallmultiple h3 {
    width: 305px;
    height: 15px;
    padding: 0px 5px 0px 5px;
    margin: 0;
    float: left;
    text-align: center;
    font-size: .8em;
    line-height: 1.3em;
    font-weight: 700;
}
.dimple-tooltip {
    z-index: 9999 !important;
}
svg {
    overflow: visible !important;
}
.graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
    display: none;
}
#tooltip {
    background: #000;
    color: #fff;
    text-align: left;
    padding: 12px;
    font-size: .8em;
    opacity: .85;
    font-weight: 700;
}
.land {
    fill: #ededed;
}
.boundary {
    fill: none;
    stroke: #a4a4a4;
    stroke-width: .5px;
}
#geomap svg {
    overflow: hidden !important;
}
footer {
    font-size: .8em;
    font-weight: 400;
    text-align: right;
}
.footer-text {
    max-width: 450px;
    float: right;
}
.legend {
  font-size: .8em;
  line-height: 1.4em;
}
.smallmultiple-count {
  opacity: .5;
}

/* Custom Filter Drop Down Menu */

.container-filter-menu {
  max-width: 900px !important;
  max-height: 550px;
  margin: 0px 0px 10px 0px;
}

.dropdown-menu-main {
  right: -300px !important;
  opacity: .98;
}

.dropdown-menu-custom {
  margin: 2px 25px;
  padding: 0;
  list-style: none;
  text-indent: -22px;
}

.dropdown-menu-custom a {
  color: inherit;
  text-decoration: inherit;
}

.col-filter-menu {
  max-height: 550px;
  overflow: scroll;
}

#detailtable-padder {
  width: 100%;
  height: calc(40vh + 25px);
  float: left;
  display: none;
}

.detailtable {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  overflow: scroll;
  background: #1F1F1F;
  box-shadow: 0px 0px 20px #B7B7B7;
  color: #9E9E9E !important;
  opacity: .99;
  z-index: 9999;
  font-size: .9em;
  display: none;
}

.detailtable p {
  margin: 10px auto 15px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  opacity: .5;
  font-size: .8em;
  cursor: pointer;
}

.table>tbody>tr>td {
  max-width: 250px;
  border-top: 1px solid rgba(221, 221, 221, 0.05);
}

.table>thead>tr>th {
  border-bottom: 2px solid rgba(221, 221, 221, 0.05);
}

.detailtable a {
  color: #fff;
  font-weight: 700;
}

.detailtableclose {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
